/* space-mono */
@font-face {
	font-family: Space Mono;
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Space Mono Regular"), local("SpaceMono-Regular"), url(space-mono.woff2) format("woff2");
	font-display: swap;
}
/* space-mono-bold */
@font-face {
	font-family: Space Mono;
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Space Mono Bold"), local("SpaceMono-Bold"), url(space-mono-bold.woff2) format("woff2");
	font-display: swap;
}
/* space-mono-italic */
@font-face {
	font-family: Space Mono;
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Space Mono Italic"), local("SpaceMono-Italic"), url(space-mono-italic.woff2) format("woff2");
	font-display: swap;
}
/* space-mono-bold-italic */
@font-face {
	font-family: Space Mono;
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Space Mono Bold Italic"), local("SpaceMono-BoldItalic"), url(space-mono-bold-italic.woff2) format("woff2");
	font-display: swap;
}

